@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');
@font-face {
    font-family: "FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#logo {
    width: 14vw;
    height: 20vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "FrederickatheGreat-Regular", Arial;
    font-weight: lighter;
    height: 5.5rem;
    width: auto;
    color: #690426;
    /* font-size: 25px; */
    font-size: 2rem;
    padding-left: 1rem; 
    flex-wrap: wrap;
    }
    
body {
    background-color: #3a358a;
}

.map-responsive {
    width: 70%;
    /* height: 10vh; */
    margin: 2rem auto;
}

#footer {

    background-color: #3a358a;
}

#colombe {
    width: 100%;
}

.banniere {
    height: 400px; 
    background-repeat: no-repeat; 
    width: auto;
}

#boutonatelier,#boutonréalisation
{
    margin-right: 10vw;
}