/* POLICES */
/* Police utilisée pour les titres */
@font-face{
    font-family:"FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}
/* Police utilisée pour les paragraphes */
@font-face{
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.ttf");
}
/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* __________________________ */
body {
    background-color: #3a358a;
}
#footer{
    background-color: #3a358a;
}

/* Page Atelier */
#WorkshopBody{
    background-color: #3a358a;
    font-family: 'Montserrat', sans-serif;
}
#WorkshopPicture{
    border-radius: 10%;
    /* width: 100%;
    height: 50%; */
}
/* Texte descriptif de la page atelier */
#WorkshopDescription{
    color: #FAF6F6;
    font-size: 20px;
    
}
/* Texte détaillant les techniques utilisées par l'atelier */
.WorkshopTechnical{
    border-radius: 10%;
    background-color: #FAF6F6;
    color: #690426;
}
#WP1{
    width: 415px;
    height: 622px;
}
#WP2{
    width: 429px;
    height: 622px;
}
#WP3{
    width: 675px;
    height: 729px;
}
#WP4{
    width: 880px;
    height: 660px;
}
#WP5{
    width: 828px;
    height: 621px;
}
#WP6{
    width: 831px;
    height: 467px;
}
#WP7{
    width: 692px;
    height: 519px;
}
/* pseudo classe pour une action au survol (hover) */
.nav_boutons:hover {
    color: #000000;
}
@media screen and (min-width: 480px) {
    #bandeau {
        height: 156px;
    }

    #logo {
        width: auto;
        height: 156px;
    }

    h1 {
        height: 156px;
        line-height: 156px;
        width: 70.5vw;
        color: #690426;
        font-size: 50px;
        padding-left: none;
    }

    #navigation {
        display: grid;
        grid-template-columns: 25vw 25vw 25vw;
        grid-template-rows: 12vh;
        grid-template-areas:
            "Atelier Réalisations Contact";
        justify-content: space-around;
        grid-gap: 60px;
    }

    .atelier,
    .realisations,
    .contact {
        border-radius: 65px;
        font-size: 50px;
    }

    .adresse,
    .droits,
    .mentions,
    .copyright {
        font-size: 20px;
    }

    .presentation {
        padding: 100px;
        font-size: 3rem;
    }

    .imgpresentation {
        width: 100%;
        height: 60%;
        font-size: 2rem;
        align-items: center;
        flex-direction: row;
    }

    .textpresentation {
        display: flex;
    }

    .box {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        align-items: center;
    }

    .box1 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;
        padding: 30px;
    }

    .box2 {
        display: flex;
        flex-direction: column;
        width: 50%;
        height: 60%;

        padding: 30px;
    }

}