/* POLICES */
/* Police utilisée pour les titres */
@font-face{
    font-family:"FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}
/* Police utilisée pour les paragraphes */
@font-face{
    font-family: "Montserrat-Black";
    src: url("../fonts/Montserrat-Black.ttf");
}
/* RESET CSS */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #3a358a;
    font-family: 'Montserrat', sans-serif;
}
/* DEBUT HEADER */
#logo {
    width: 14vw;
    height: 20vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "FrederickatheGreat-Regular", Arial;
    font-weight: lighter;
    height: 5.5rem;
    width: auto;
    color: #690426;
    /* font-size: 25px; */
    font-size: 2rem;
    padding-left: 1rem;
    flex-wrap: wrap;
}
#boutonatelier,
#boutonréalisation {
    margin-right: 10vw;
}
/* FIN HEADER */

/* DEBUT PAGE ATELIER */
/* Texte détaillant les techniques utilisées par l'atelier */
.WorkshopTechnical{
    border-radius: 5%;
    background-color: #FAF6F6;
    color: #690426;
}
/* Modifs photos */
.WorkshopPicture{
    border-radius: 5%;
}
/* FIN PAGE ATELIER */