@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

@font-face {
    font-family: "FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.box a {
    text-decoration: none;
}

h2:hover {
    /* survol*/
    color: #08dd3d;
}

body {
    background-color: #3a358a;
}

.presentation {
    display: flex;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Montserrat', sans-serif;
    font-weight: lighter;
    background-color: #f8f3f3;
    text-align: center;
}

.imgpresentation {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    padding: 30px;
}

.textpresentation {
    display: flex;
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    padding: 20px;
    font-family: 'Montserrat', sans-serif;

}

.box {
    display: flex;
    width: 100%;
    height: 60%;
    flex-direction: column;
    padding: 30px;
}

img {
    width: 100%;
    height: 60%;
}

h2 {
    text-align: center;
    flex-direction: column;
    color: #ffffff;
    padding: 20px;
    font-size: 2rem;
    font-family: 'Fredericka the Great', cursive;
    font-weight: lighter;
}


/* ------------------------------HEADER---------------------------- */

#logo {
    width: auto;
    height: 20vh;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "FrederickatheGreat-Regular", Arial;
    font-weight: lighter;
    height: 5.5rem;
    width: auto;
    color: #690426;
    /* font-size: 25px; */
    font-size: 2rem;
    padding-left: 1rem;
    flex-wrap: wrap;
}

/* fin du bandeau */

/* début du footer */

#mention {
    color: #ffffff;
}

.adresse,
.droits,
.mentions,
.copyright {
    font-size: 0.4rem;
    color: #ffffff;
}

.droits,
.mentions,
.copyright {
    line-height: 7vh;
}

.adresse {
    grid-area: Adresse;
    line-height: 3.58vh;
    margin-top: 10px;
}

.droits {
    grid-area: Droits;
}

.mentions {
    grid-area: Mentions;
}

.copyright {
    grid-area: Copyright;
}

/* pseudo classe pour une action au survol (hover) */
.nav_boutons:hover {
    color: #000000;
}
/* 
#boutonatelier,
#boutonréalisation {
    margin-right: 10vw;
} */

body {
    background-color: #3a358a;
}

.map-responsive {
    width: 70%;
    /* height: 10vh; */
    margin: 2rem auto;
}

#footer {

    background-color: #3a358a;
}

#colombe {
    width: 100%;
}

.banniere {
    height: 400px;
    background-repeat: no-repeat;
    width: auto;
}

@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200&family=Roboto&display=swap');

@font-face {
    font-family: "FrederickatheGreat-Regular";
    src: url("../fonts/FrederickatheGreat-Regular.ttf");
}